@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    font-family:  'Arial';
}

.shadow {
	display: block;
}

@media (max-width: 888px) {
	#main-content {
		padding-inline: 4%;
	}

	.nav {
		padding-inline: 5%;
	}

	.project-card {
		margin-bottom: 9%;
	}

	.card {
		bottom: 2%;
		right: 39%;
		padding: 2px;
	}

	.card-2 {
		bottom: 1%;
		padding: 3px;
		font-size: 1.1rem;
	}
}

@media (max-width: 868px) {
	#main-content {
		padding-inline: 5%;
	}

	.nav {
		padding-inline: 5%;
	}

	.shadow {
		display: none;
	}

	.arrow {
		display: none;
	}

	.image-wrapper {
		position: relative;
		margin-bottom: 15%;
	}

	.image-wrapper::before {
		content: '';
		width: 32vw;
		height: 25vh;
		margin: auto;
		position: absolute;
		inset: -4px;
		background: linear-gradient(to right, #8b5cf6, #f64cdd);
		border-radius: 10rem;
		filter: blur(8px);
		opacity: 0.25;
		transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.image-wrapper:hover::before {
		opacity: 0.5;
	}

	.about-image {
		position: relative;
		aspect-ratio: 16/9;
		object-cover: cover;
		background: #010f1f;
		overflow: hidden;
		left: 25%;
	}

	.title {
		right: 35%;
		top: 0%;
		font-size: 1.6rem;
	}

	.desc {
		right: 19%;
		top: 16%;
	}

	.desc h3 {
		font-size: 1.4rem;
	}

	.project-title {
		display: block;
		font-size: 3rem;
		border-left: #8b5cf6 solid 5px;
		padding-left: 9px;
	}

	.project-card,
	.project-card2 {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 77vh;
		background: #24183e;
		padding: 10px;
		border-radius: 15px;
		margin-top: 20px;
	}

	.project-card h4,
	.project-card2 h4 {
		display: none;
	}

	.project-card h1 {
		font-size: 3rem;
		padding: 5px;
	}

	.card {
		margin-block: 0.8%;
		right: 0;
		bottom: 18%;
		font-size: 1.6rem;
		padding: 15px;
		/* width: 100%; */
	}

	.project-url {
		bottom: 5%;
		padding-left: 5%;
	}

	.project-url a,
	.project-url2 a {
		font-size: 1.8rem;
	}

	.project-image,
	.project-image2 {
		width: 100%;
	}

	.project-image2 {
		margin-inline-start: 5px;
	}

	.project-scrn-title {
		display: block;
	}

	.project-card2 {
		height: 73vh;
	}

	.project-2 {
		width: 100%;
	}

	.project-2 h1 {
		display: none;
	}

	.card-2 {
		width: 100%;
		position: initial;
		font-size: 1.8rem;
		padding: 3%;
	}

	.project-url2 {
		bottom: 3%;
		left: 2%;
	}
}

@media (max-width: 468px) {
	.image-wrapper {
		margin-block: 15%;
	}

	.image-wrapper::before {
		width: 50vw;
		height: 30vh;
		border-radius: 9rem;
	}

	.image-wrapper:hover::before {
		opacity: 0.5;
	}

	.about-image {
		left: 50%;
	}

	.project-card {
		flex-direction: column-reverse;
		height: 85vh;
	}

	.project-card h1 {
		padding-top: 8%;
	}

	.card {
		padding: 5px;
	}

	.card-img:hover {
		transform: scale(1.1);
		filter: blur(1px);
	}

	.project-image {
		margin-top: 0%;
	}

	.card-2 {
		font-size: 1.4rem;
		padding: 1%;
	}

	.project-url2 {
		bottom: 4%;
		left: 4%;
	}
}

@media (max-width: 375px) {

	.project-card {
		height: 100vh;
	}
}